*{
    margin:0;
    padding:0;
}

body{
    overflow:none;
    background: url("https://images.unsplash.com/photo-1465311530779-5241f5a29892?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=") no-repeat center center fixed;
    background-size: cover;
}

/*
    雷电：https://images.unsplash.com/photo-1431440869543-efaf3388c585?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=
    雪：https://images.unsplash.com/photo-1483119624769-b1a73c256500?dpr=1&auto=format&fit=crop&w=1080&h=724&q=80&cs=tinysrgb&crop=
    太阳：https://images.unsplash.com/photo-1472752112832-519166b23dfa?dpr=1&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=
    雨：https://images.unsplash.com/photo-1417008914239-59b898b49382?dpr=1&auto=format&fit=crop&w=1080&h=708&q=80&cs=tinysrgb&crop=
*/

.content{
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;

}
.city{
    text-align: center;
}
.city>img{
    width: 30px;
}
.city>div{
    font-size: 28px;
    vertical-align: middle;
    color: rgb(255,102,102);
}
.weather{
    text-align: center;
    color: rgb(255,102,102);
    font-size: 38px;
}
.degree{
    text-align: center;
    color: rgb(255,102,102);
    font-size: 38px;
}
.degree div{
    display: inline;
}
.degree .tmp-kind{
    margin-left: 10px;
}
.degree .tmp-change{
    margin-left: 30px;
}
.wind{
    text-align: center;
    color: rgb(255,102,102);
    font-size: 38px;
}